body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.show {
  display: block !important;
}

.bg {
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(-60deg, #0b0f14 50%, #0f1c22 50%);
  position: fixed;
  z-index: -1;
  opacity: 0.7;
  animation: slide 4s ease-in-out infinite alternate;
}

.bg2 {
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(-60deg, #0a1218 50%, #102a2f 50%);
  position: fixed;
  z-index: -2;
  opacity: 0.7;
  animation: slide 4s ease-in-out infinite alternate;
  animation-direction: alternate-reverse;
  animation-duration: 5s;
}

.bg3 {
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(-60deg, #0b0f14 50%, #112322 50%);
  position: fixed;
  z-index: -3;
  opacity: 0.7;
  animation: slide 4s ease-in-out infinite alternate;
  animation-duration: 6s;
}

@keyframes slide {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(20%);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowBlue {
  0% {
    box-shadow: 0 0 1px rgba(0, 255, 120, 0.4), 0 0 2px rgba(0, 255, 120, 0.2);
  }
  50% {
    box-shadow: 0 0 2px rgba(0, 220, 255, 0.8), 0 0 4px rgba(0, 220, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 3px rgba(0, 255, 120, 0.6), 0 0 6px rgba(0, 200, 255, 0.3);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glow {
  0%,
  100% {
    filter: brightness(1) drop-shadow(0 0 5px rgba(0, 255, 120, 0.3));
  }
  50% {
    filter: brightness(1.5) drop-shadow(0 0 30px rgba(0, 220, 255, 0.8));
  }
}

.container {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;

  .main-content {
    width: 100%;
    min-height: 100vh;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .brand-header {
      .container-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        gap: 2rem;
      }

      .robot-image {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
        animation: float 3s ease-in-out infinite;
      }

      .title {
        font-size: clamp(2.4rem, 5vw, 4.8rem);
        font-weight: 700;
        color: var(--color-title);
        background: linear-gradient(
          90deg,
          rgba(0, 255, 120, 0.2) 0%,
          rgba(0, 220, 255, 0.5) 50%,
          rgba(0, 255, 120, 0.5) 100%
        );
        background-size: 200% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradientFlow 3s ease-in-out infinite;
        position: relative;

        &::before {
          content: "CineAI";
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(
            90deg,
            rgba(0, 255, 120, 0.2) 0%,
            rgba(0, 220, 255, 0.5) 50%,
            rgba(0, 255, 120, 0.5) 100%
          );
          background-size: 200% 100%;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: gradientFlow 3s ease-in-out infinite,
            glow 3s ease-in-out infinite;
          filter: blur(0px);
        }
      }

      .sub-title {
        font-size: clamp(1.2rem, 3vw, 2rem);
        margin: 1rem;
        color: var(--color-primary);
        text-align: center;
      }
    }

    .search-card {
      width: 100%;
      max-width: 60rem;
      background-color: var(--color-bg);
      padding: 3rem;
      border-radius: 1.6rem;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0, 200, 255, 0.8);
      animation: glowBlue 3s ease-in-out infinite;

      .search-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .mood-textarea {
          width: 100%;
          min-height: 10rem;
          padding: 1rem;
          border-radius: 0.8rem;
          border: 0.1rem solid var(--color-bg-medium);
          background-color: var(--color-bg-strong);
          font-size: clamp(1.2rem, 2.5vw, 1.8rem);
          color: var(--color-primary);
          resize: none;
          transition: all 0.3s ease;

          &:focus {
            outline: none;
            border-color: rgba(0, 200, 255, 0.8);
            box-shadow: 0 0 0.7rem rgba(2, 83, 106, 0.8);
            background-color: var(--color-bg);
          }
        }

        .examples {
          font-size: clamp(1rem, 2.5vw, 1.6rem);
          text-align: left;
          color: var(--color-light);
          margin: 1rem;

          .examples-title {
            margin: 0.8rem;
            font-weight: 500;
          }

          .examples-list {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            font-size: clamp(1rem, 2.5vw, 1.4rem);
            opacity: 0.8;
            margin-left: 1.5rem;
          }
        }

        .search-button {
          padding: 1.5rem 3rem;
          width: 100%;
          font-size: clamp(1.2rem, 2.5vw, 1.8rem);
          color: var(--color-primary);
          background: linear-gradient(
            120deg,
            rgba(0, 255, 120, 0.2),
            rgba(0, 220, 255, 0.5),
            rgba(0, 255, 120, 0.5)
          );
          background-size: 300% 300%;
          animation: gradientMove 4s ease infinite;
          border: none;
          border-radius: 0.8rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            box-shadow: 0 0 0.5rem rgba(0, 255, 120, 0.6),
              0 0 1rem rgba(0, 220, 255, 0.5);
          }
        }
      }
    }

    .results {
      text-align: center;
      max-width: 40rem;
      margin-top: 4rem;
      display: none;

      .section-title {
        font-size: clamp(1.4rem, 4vw, 2rem);
        margin: 1rem;
      }

      .movie {
        padding: 1rem;

        .movie-content {
          border-radius: 1rem;
          background-color: var(--color-content);
          border: 0.1rem solid var(--color-border-content);
          margin-bottom: 1rem;

          .movie-poster {
            width: 100%;
            border-radius: 1rem 1rem 0 0;
            margin-bottom: 1rem;
          }

          .movie-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 1rem;
            align-items: center;
            padding-bottom: 1rem;

            .movie-title {
              font-size: clamp(1.2rem, 3vw, 1.8rem);
              font-weight: 600;
              color: var(--color-title-movie);
            }

            .movie-overview {
              font-size: clamp(1rem, 2.5vw, 1.4rem);
              color: var(--color-light);
              margin-bottom: 4rem;
              text-align: justify;
            }

            .movie-meta {
              font-size: clamp(1rem, 2.5vw, 1.4rem);
              .date {
                color: var(--color-date);
              }
            }

            .movie-rating {
              font-size: clamp(1rem, 2.5vw, 1.4rem);
              color: var(--color-rating);
            }
          }
        }
      }
    }
  }
}
