:root {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(0, 0, 0);
  /* --color-title: rgb(0, 140, 255); */
  --color-bg: rgba(255, 255, 255, 0.1);
  --color-bg-medium: rgba(255, 255, 255, 0.3);
  --color-bg-strong: rgba(255, 255, 255, 0.05);
  --color-light: rgb(208, 208, 208);
  --color-title-movie: rgb(139, 213, 231);
  --color-rating: rgb(227, 171, 17);
  --color-content: rgba(29, 28, 28, 0.7);
  --color-border-content: rgba(4, 170, 196, 0.5);
  --color-date: rgba(25, 226, 226, 0.5);

  --font-size-base: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-medium: 2rem;
  --font-size-large: 4.8rem;
}
